@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: rgb(0, 136, 255);
    box-shadow: 0px 3px 10px;
    display: flex;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 6rem;
    width: 100%;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-item a{
    text-decoration: none;
    font-size: 1.15rem;
    color: black
}

.header-extendido{
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px;
    position: relative; /* Adicione esta linha */
}
#logo-dcc{
    width: 180px;
    height: 60px;
    padding-left: 10px;
}
.sobre {
    font-family: Bebas Neue, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
