img {
  margin-left: 1.4rem;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #003366;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.icons {
  color: #ffffff;
  right: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


footer {
  display: flex;
  gap: 0.9rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  color: #ffffff;
}

.footer {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.footer p {
  width: 75%;
  text-align: justify;
}

footer .footer-redes-sociais {
  display: flex;
  gap: 1rem;
}

footer .footer-redes-sociais i {
  font-size: xx-large;
  color: #ffffff
}

footer .footer-redes-sociais i:hover {
  cursor: pointer;
}

.fa-facebook:hover {
  color: blue;
}

.fa-instagram:hover {
  color: #E11D74;
}

/* Breakpoints */
@media (max-width: 768px) {
  .icons #close-icon {
    display: none;
  }

  .icons {
    display: inline-flex;
    margin-right: 2rem;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  nav {
    width: 100%;
    height: 6rem;
  }

  nav ul {
    display: none;
    background-color: #003366;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  nav ul li {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.7rem 0;
  }

  #check:checked~ul {
    display: block;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sessoes-item-text {
    font-size: 20px !important;
  }
}


/*CSS de Sessoes*/
body {
  width: 100%;
  height: 100%;
}

.sessoes-page-container {
  margin: 5vh 10vh;
  border-radius: 50px;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-margin {
  margin: 1vh;
}

.sessoes-page-header {
  margin: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessoes-page-title {
  padding: 3vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #FFFFFD;  
}

.sessoes-item {
  width: 80%;
  padding: 5vh;
  margin: 2.5vh;
  border-radius: 50px;
  background: #FFFFFD;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sessoes-item-date-container {
  width: 25%;
  height: 25vh;
  margin-right: 3vh;
  border-radius: 50px;
  background: #003366;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sessoes-item-text-container {
  width: 90%;
  height: 7.2vh;
  border-radius: 50px;
  background: #CABEBE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessoes-item-text {
  color: black;
  font-size: 30px;
  font-family: Inter;
}

.sessoes-item-event-container {
  width: 75%;
  height: 40vh;
  padding: 2vh;
  border-radius: 50px;
  background: #CABEBE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sessoes-item-event-inner-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* Breakpoints */
@media (max-width: 768px) {
  .sessoes-item-text {
    font-size: 20px !important;
  }
}

@media (max-width: 1140px) {

  .sessoes-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sessoes-item-date-container {
    width: 70% !important;
    height: 25vh;
    margin-right: 0vh;
    margin-bottom: 3vh;
  }

  .sessoes-item-event-container {
    height: 40vh;
    padding: 5vh;
  }

}

@media (max-width: 1400px) {

  .sessoes-item-text {
    font-size: 25px;
  }
}
