img {
  margin-left: 1.4rem;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #003366;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.icons {
  color: #ffffff;
  right: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


/* Body e Configurações Gerais (Fale Conosco) */  
body {
  background-color: rgba(245, 232, 183, 0.375);
}
.texto-negrito {
font-weight: bold;
}

/* Main */

.container-fale_conosco {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
width: 80%;
margin: 7.5% auto;
}

.area-1, .area-2 {
flex: 1;
padding: 20px;
margin: 0% 2.5%;
width: 100%;
border-image: linear-gradient(135deg, #003366, #0968ed); 
border-image-slice: 10; 
border-image-width: 4px;
background-color: #fff; 
}

.area-1 {
padding-left: 5%;
padding-right: 5%;
}
.area-2 {
padding-left: 5%;
padding-right: 5%;
}

/* Titulo da Página - Fale Conosco*/

.inicio-fale_conosco {
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
margin: 7.5% 0%;
letter-spacing: 7.5px;
}

.inicio-fale_conosco h1 {
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 2.5%;
}
.inicio-fale_conosco h3 {
font-size: 2rem;
}

/* Area-1 (Lado Direito)*/

.titulo-area-1-fale_conosco {
text-align: center;
}

.titulo-area-1-fale_conosco h1 {
font-size: 2.25rem;
font-weight: bolder;
margin: 10% 0%;
}
.titulo-area-1-fale_conosco h3 {
font-size: 1.5rem;
margin: 5% 0%;
}
.redes-sociais-area-1-fale_conosco {
display: flex;
justify-content: space-around;
}
.redes-sociais-area-1-fale_conosco img {
height: 75px;
margin-top: 15%;
}

.redes-sociais-area-1-fale_conosco img:hover { 
transform: scale(1.25);
}
.mapa_embedado-area-1-fale_conosco {
font-size: 1.15rem;
line-height: 2;
text-align: center;
white-space: pre-line;
}
.mapa_embedado-area-1-fale_conosco h1{
font-size: 2rem;
font-weight: bold;
}
.mapa-embedado {
display: flex;
justify-content: center;
border: 2px solid #003366;
}

/* Area-2 (Lado Esquerdo) */


.texto-area-2-fale_conosco {
text-align: center;
}
.texto-area-2-fale_conosco h1 {
font-size: 2.25rem;
font-weight: bolder;
margin: 10% 0%;
}
.texto-area-2-fale_conosco h3 {
font-size: 1.5rem;
margin: 5% 0%;
}
.campos-area-2-fale_conosco{
display: flex;
align-items: center;
flex-direction: column;
}
.input_form-fale_conosco{
border-radius: 7.5px;
cursor: pointer;
height: 20px;
padding: 5px;
margin: 7.5% auto;
width: 75%;
}
.input_form-fale_conosco:focus{
box-shadow: 0 0 5px 4px rgba(9, 104, 237, 0.5);
}
.textarea-area-2-fale_conosco {
border-radius: 7.5px;
cursor: pointer;
margin: 5% auto;
padding: 5px;
resize: none;
}
.textarea-area-2-fale_conosco:focus {
box-shadow: 0 0 5px 4px rgba(9, 104, 237, 0.5);
}

.botao-area-2-fale_conosco {
background-color: #0968ed;
border: none;
border-radius: 60px;
color: #ffff;
cursor: pointer;
font-size: 1.25rem;
font-weight: 400;
height: 7.5%;
margin: 7.5% auto;
padding: 2.5%;
text-align: center;
width: 50%;
}

.botao-area-2-fale_conosco:hover {
text-decoration: underline;
background-color: #003366;
transition: .5s all ease;
}


/* Breakpoints */
@media (max-width: 768px) {
  .icons #close-icon {
    display: none;
  }

  .icons {
    display: inline-flex;
    margin-right: 2rem;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  nav {
    width: 100%;
    height: 6rem;
  }

  nav ul {
    display: none;
    background-color: #003366;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  nav ul li {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.7rem 0;
  }

  #check:checked~ul {
    display: block;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-fale_conosco {
    flex-direction: column;
    margin: 0% 5%;
  }
  .inicio-fale_conosco {
    margin-top: 15%;
  }
  .area-2 {
    margin: 10% auto;
  }
  .area-1 {
    margin: 10% auto;
    margin-bottom: 20%;
  }
}


footer {
  display: flex;
  gap: 0.9rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  color: #ffffff;
}

.footer {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.footer p {
  width: 75%;
  text-align: justify;
}

footer .footer-redes-sociais {
  display: flex;
  gap: 1rem;
}

footer .footer-redes-sociais i {
  font-size: xx-large;
  color: #ffffff
}

footer .footer-redes-sociais i:hover {
  cursor: pointer;
}

.fa-facebook:hover {
  color: blue;
}

.fa-instagram:hover {
  color: #E11D74;
}