/*CSS de Sessoes*/
body {
  background-color: #F1F1F1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
}

.tabs button {
  font-weight: bold;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  color: #FFF;
  background-color: #003366;
}

.tabsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 15px;

}

.card:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card header h1 {
  color: #333333;
}

.card header .icones {
  display: flex;
  gap: 0.8rem;
  text-transform: uppercase;
  font-size: 14px;
  color: #131313
}

.card header .icones i {
  margin-right: 3px;
  color: #003366;
}

.card main {
  letter-spacing: 1px;
  text-align: justify;
}

.card .containerPalestrantes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 0px;
  gap: 3rem;
}

.card .palestrante {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.card .palestrante .infos {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card img {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  border-radius: 50%;
}

/* Breakpoints */
@media (max-width: 768px) {
  .sessoes-item-text {
    font-size: 20px !important;
  }
}

@media (max-width: 1140px) {

  .sessoes-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sessoes-item-date-container {
    width: 70% !important;
    height: 25vh;
    margin-right: 0vh;
    margin-bottom: 3vh;
  }

  .sessoes-item-event-container {
    height: 40vh;
    padding: 5vh;
  }

}

@media (max-width: 1400px) {

  .sessoes-item-text {
    font-size: 25px;
  }
}