
body {
  width: 100%;
  height: 100%;
}

.ingressos-page{
  display: flex;
  background-color: #F1F1F1;
  /* background-color:rgba(245, 232, 183, 0.375); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingressos-header{
  margin: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingressos-page-title{
  width: 50%;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.ingressos-title{
  color: black;
  font-size: 70px;
  font-style: italic;
  font-weight: 1000;
  font-family: Inter;
  text-align: center;
}

.ingressos-item-text {
  width: 70%;
  padding: 8vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscricao-texto{
  color: black;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
}

button{
  cursor: pointer;
}

.botao-header{
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 0.7rem 1.2rem;
  margin-top: 1vh;
  margin-bottom: 30vh;
}

.botao-inscreva-se{
  background-color: #003366;
  width: 250px;
  height: 80px;
  border: white;
}

.botao-inscreva-se:hover{
  background-color: #0160bf;
}

.text-inscrever-se a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: Inter;
}

.text-inscrever-se a:hover{
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: Inter;
}

.faq-page{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-top: 6px solid #003366;
}

.faq-header{
  margin: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-page-title{
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.faq-title{
  color:  black;
  font-size: 70px;
  font-weight: 1000;
  font-family: Inter;
  text-align: center;
}

.faq-item-question{
  border-bottom: 4px solid #003366;
  border-width: 2px 5px;
  padding: 2vh;
  margin-top: 1vh;
  margin-right: 50vh;
  margin-left: 10vh;
  display: flex;
  justify-content: left;
  align-items: left;
}
.faq-item-text{
  padding: 2vh;
  margin-left: 10vh;
  margin-right:50vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: left;
  align-items: left;
}

.faq-question{
  color: black;
  font-size: 20px;
  text-align: left;
  font-style: italic;
  font-family: Inter;
  font-weight: 1000;
}
.faq-text{
  color: rgb(74, 74, 74);
  font-size: 20px;
  text-align: left;
  font-family: Inter;
}

.inscricao-header{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.inscricao-page-title{
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.entrar{
  color:  black;
  font-size: 40px;
  font-weight: 1000;
  font-family: Inter;
  text-align: center;
}

.subtitle-entrar{
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.text-entrar{
  color:  black;
  font-size: 20px;
  font-family: Inter;
  text-align: left;
}

.user-input{
  background-color: rgba(0,0,0,0);
  border: 2px black solid;
  padding: 8px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}

.user-input{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esqueceu-senha{
  
}


.nao-cadastrado{

}

.entrar-submit{

}


/* Breakpoints */
@media (max-width: 768px) {
  .icons #close-icon {
    display: none;
  }

  .icons {
    display: inline-flex;
    margin-right: 2rem;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  nav {
    width: 100%;
    height: 6rem;
  }

  nav ul {
    display: none;
    background-color: #003366;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  nav ul li {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.7rem 0;
  }

  #check:checked~ul {
    display: block;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ingressos-title{
    font-size: 40px !important;
  }
  .inscricao-texto{
    font-size: 20px !important;
  }
  .text-inscrever-se a{
    font-size: 20px;
  }
  
  .text-inscrever-se a:hover{
    font-size: 20px;
  }

  .ingressos-page-title{
    width: 70%;
    padding: 3vh;
  }
  .ingressos-item-text {
    padding: 5vh;
    margin-top: 1vh;
  }
  .faq-item-question{
    padding: 2vh;
    margin-top: 1vh;
    margin-right: 7vh;
    margin-left: 2vh;
  }
  .faq-item-text{
    margin-left: 2vh;
    margin-right:5vh;
    margin-bottom: 4vh;
    display: flex;
    justify-content: left;
    align-items: left;
  }
}
